HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### Source Code ###
.metadata/
mobile-app.ws/.attach_pid19781
mobile-app.ws/.gitignore.swp
mobile-app.ws/.mvn/
mobile-app.ws/mvnw
mobile-app.ws/mvnw.cmd


